.textArea {
  font-size: 10px;
  margin-left: 2px;
  border-radius: 10px;
  overflow: hidden;
  height: fit-content;
}

.input,
.textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
  width: 10rem;
  margin: 5px;
}

.description {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  position: relative;
}

.actions {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}

.add_icon,
.update_icon,
.delete_icon,
.edit_icon {
  cursor: pointer;
  background-color: #44474e;
  width: 21px;
  height: 20px;
  border-radius: 50%;
  color: white;
  padding: 2px;
  font-size: 12px;
}
.line {
  border-right: 1px solid lightgray;
  margin-right: 2px;
  margin-left: 2px;
}

i:nth-child(2) {
  cursor: pointer;
}
