<ng-container *ngTemplateOutlet="template1"></ng-container>
<div class="input-group">
  <span class="textarea" role="textbox" #valueOfErea name="valueOfErea" contenteditable></span>
  <i *ngIf="isShowAdd" (click)="addNewItem()" class="icon-add primary add_icon"></i>
  <i *ngIf="!isShowAdd" (click)="updateItem()" class="icon-done update_icon"></i>
</div>

<!-- show content -->
<ng-template #template1>
  <div class="description" *ngFor="let item of items; let i =index">
    <span>
      {{item}}
    </span>
    <div class="actions">
      <i (click)="deleteDesc(i)" class="icon-delete primary delete_icon"></i>

      <span class="line"></span>
      <i (click)="editItem(item,i)" class="icon-edit primary edit_icon"></i>
    </div>
  </div>
</ng-template>